<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @map.name %>
</p>

<p>
  <b>Description:</b>
  <%= @map.description %>
</p>
<p>Points</p>
<ul>
 <% @map.points.each do |point| %>
 <li><%= point.inspect %></li>
  <% end %>
</ul>

<b>Yeah, I get it. This is really ugly. I'll get around to making this prettier. Thanks for the concern.</b>

<%= link_to 'Edit', edit_map_path(@map) %> 
| <%= link_to 'Delete', @map, :confirm => 'Are you sure?', :method => :delete %> 
| <%= link_to 'Back', maps_path %>
